name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-package:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: shop
          POSTGRES_USER: shop_user
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U shop_user -d shop"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    env:
      DB_HOST: localhost
      DB_PORT: 5432
      DB_NAME: shop
      DB_USER: shop_user
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

      APP_JWT_SECRET: ${{ secrets.APP_JWT_SECRET }}

      SSL_KEYSTORE_PATH: ${{ github.workspace }}/certs/private/ci-keystore.p12
      SSL_KEYSTORE_PASSWORD: ${{ secrets.SSL_KEYSTORE_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Restore keystore from secret
        shell: bash
        run: |
          mkdir -p certs/private
          echo "${{ secrets.SSL_KEYSTORE_B64 }}" | base64 --decode > certs/private/ci-keystore.p12
          ls -la certs/private

      - name: Build + Test
        run: mvn -B clean test

      - name: Package
        run: mvn -B package -DskipTests

      - name: Upload artifact (jar)
        uses: actions/upload-artifact@v4
        with:
          name: shop-api-jar
          path: target/*.jar
